{% extends 'base.html' %}

{% block title %} Contact {% endblock%}

{% block content %}
<div class="card">
  <img src="static/img/contact/avatar2.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Sebastian Schwarzacher</b></h4>
    <p>Analytical parh</p>
    <p>email:</p>
    <p><a href = "mailto: schwarz@karlin.mff.cuni.cz"> schwarz@karlin.mff.cuni.cz</a></p>
  </div>
</div>
<div class="card">
  <img src="static/img/contact/avatar2.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Jakub Fara</b></h4>
    <p>Numerical parh</p>
    <p>email:</p>
    <p><a href = "mailto: jakubfara77@gmail.com"> jakubfara77@gmail.com</a></p>
  </div>
</div>

{% endblock %}
