{% load static %}
<!DOCTYPE html>
<html lang="en">
<base href="https://fluidstructure.herokuapp.com/" />
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
  <div class="navbar">
    <a href="/">Home</a>
    <a href="/news">News</a>
    <a href="/analysis">Analysis</a>    
    <a href="/numerics">Numerics</a>
    <a href="/contact">Team</a>
  </div>
  <div class="header">
    <h1>Analysis for Systems of Partial Differential Equations<br> Describing the Contact between Fluids and Solids</h1><br>
    <h2>ERC-CZ Grant LL2105</h2>
  </div>
</div>
<div class="side_space">
  <div id="content", name="contetnt">
    {% block content %}
    {% endblock%}
  </div>
</div>
</body>

</html>
